@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Exo+2:200,400,600);@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif;
  line-height: 1;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3,
h4 {
  font-size: 20px;
}

a {
  color: #3097D1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  position: relative;
  width: auto;
  margin: 0 auto;
  padding: 0 15px;
  display: block;
  z-index: 1;
}

.row {
  margin: 0 -15px;
}

.row:after {
  visibility: hidden;
  display: table;
  content: ".";
  clear: both;
  height: 0;
}

.col-md-3 {
  position: relative;
  width: calc(25% - 30px);
  min-height: 1px;
  margin: 0 auto;
  padding: 0 15px;
  display: block;
  float: left;
}

.col-md-9 {
  position: relative;
  width: calc(75% - 30px);
  min-height: 1px;
  margin: 0 auto;
  padding: 0 15px;
  display: block;
  float: left;
}

.col-md-12 {
  position: relative;
  width: calc(100% - 30px);
  min-height: 1px;
  margin: 0 auto;
  padding: 0 15px;
  display: block;
  float: left;
}

main {
  padding-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  div.container {
    width: 1024px;
    padding: 0;
  }

  div.small-container {
    width: 800px;
    padding: 0;
  }
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #fafafa;
  z-index: 99999;
  line-height: 60px;
}

header strong {
  position: relative;
  padding-left: 40px;
}

header strong a {
  font-size: 18px;
  color: #5a5a5a;
  text-decoration: none;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

nav #navOpenButton {
  margin: 0 25px;
}

nav #navCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  color: white;
  cursor: pointer;
}

nav ul {
  position: absolute;
  background: #4486cc;
  top: 0;
  right: -50vh;
  width: 50vh;
  list-style-type: none;
  height: 100vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
  line-height: 1;
  padding-top: 60px;
}

nav ul li {
  width: 90%;
  height: auto;
  display: inline-block;
  padding: 10px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li a {
  color: white;
  height: auto;
  display: inline-block;
  line-height: 1;
}

nav ul li ul {
  position: absolute;
  top: calc(100% - 4px);
  left: 0;
  display: none;
  min-width: 100%;
  background-color: #3097D1;
  color: white;
  -webkit-box-shadow: 0 10px 10px #00000011;
          box-shadow: 0 10px 10px #00000011;
}

nav ul li ul li {
  display: inline-block;
  width: 100%;
  line-height: 40px;
}

nav ul li ul li a {
  width: auto;
  height: 40px;
  line-height: 40px;
  color: white;
  display: block;
}

nav ul li.active a {
  background-color: white;
}

#navBackColor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
  nav {
    position: absolute;
    top: 0;
    right: 20px;
  }

  nav i.fa {
    display: none;
  }

  nav #navOpenButton {
    margin-right: 0;
  }

  nav ul {
    position: relative;
    top: auto;
    right: auto !important;
    width: auto;
    display: block;
    height: auto;
    background-color: transparent;
    list-style-type: none;
    float: right;
    margin-right: 10px;
    margin-top: 0;
    line-height: 60px;
    padding-top: 0;
  }

  nav ul li {
    position: relative;
    float: left;
    width: auto;
    padding: 0 10px;
  }

  nav ul li:first-of-type {
    padding-left: 0;
  }

  nav ul li a {
    color: #3097D1;
    height: 60px;
    display: inline-block;
    line-height: 60px;
  }

  #navBackColor {
    background-color: transparent !important;
  }
}

ul.breadcrumbs {
  padding: 0;
  font-size: 14px;
  list-style-type: none;
}

ul.breadcrumbs li {
  display: inline-block;
  padding: 5px 0 15px 0;
}

ul.breadcrumbs li a {
  color: black;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}

ul.breadcrumbs li a:hover {
  border-bottom: 1px solid black;
}

ul.breadcrumbs li:last-child a {
  color: #3097D1;
}

ul.breadcrumbs li:last-child a:hover {
  border-bottom: 1px solid #3097D1;
}

ul.breadcrumbs li:not(:last-child):after {
  content: " > ";
  padding: 0 3px;
  font-size: 10px;
}

#featured_image_section {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  overflow: hidden;
}

#featured_image_section .featured_image {
  position: absolute;
  width: 100% !important;
  background-position: center;
  background-size: cover !important;
  height: 320px !important;
}

#featured_image_section .featured_image:before {
  content: ' ';
  width: 100%;
  height: 300px;
  position: absolute;
  display: block;
}

#featured_image_section .featured_image.pinkpurple:before {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(236, 64, 122, 0.7)), color-stop(rgba(171, 71, 188, 0.7)), to(rgba(126, 87, 194, 0.7)));
  background: linear-gradient(to bottom right, rgba(236, 64, 122, 0.7), rgba(171, 71, 188, 0.7), rgba(126, 87, 194, 0.7));
}

#featured_image_section .featured_image.greenblue:before {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(56, 142, 60, 0.7)), color-stop(rgba(0, 121, 107, 0.7)), color-stop(rgba(0, 151, 167, 0.7)), to(rgba(2, 136, 209, 0.7)));
  background: linear-gradient(to bottom right, rgba(56, 142, 60, 0.7), rgba(0, 121, 107, 0.7), rgba(0, 151, 167, 0.7), rgba(2, 136, 209, 0.7));
}

#featured_image_section .featured_image.yellowpink:before {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(253, 216, 53, 0.7)), color-stop(rgba(255, 87, 34, 0.7)), to(rgba(236, 64, 122, 0.7)));
  background: linear-gradient(to bottom right, rgba(253, 216, 53, 0.7), rgba(255, 87, 34, 0.7), rgba(236, 64, 122, 0.7));
}

.enzow_slider {
  position: relative;
  background-color: #CCC;
}

.enzow_slider.slider-fullwidth {
  width: 100%;
}

.enzow_slider .enzow_slide {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
}

.enzow_slider .enzow_slide:before {
  content: ' ';
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(56, 142, 60, 0.7)), color-stop(rgba(0, 121, 107, 0.7)), color-stop(rgba(0, 151, 167, 0.7)), to(rgba(2, 136, 209, 0.7)));
  background: linear-gradient(to bottom right, rgba(56, 142, 60, 0.7), rgba(0, 121, 107, 0.7), rgba(0, 151, 167, 0.7), rgba(2, 136, 209, 0.7));
  height: 400px;
  position: absolute;
  display: block;
  overflow: hidden;
  z-index: 7;
}

.enzow_slider .enzow_slide img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.enzow_slider .enzow_slide video {
  width: 100%;
}

.enzow_slider .enzow_slide .video_wrapper:after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.01);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.enzow_slider .enzow_slide .video_wrapper .video_play_icon {
  position: absolute;
  top: 41%;
  left: 44%;
  width: 50px;
  height: 50px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.enzow_slider .enzow_slide .video_wrapper .video_play_icon:after {
  content: '';
  display: inline-block;
  position: relative;
  border-style: solid;
  border-width: 20px 0 20px 40px;
  border-color: transparent transparent transparent white;
  z-index: 3;
}

.enzow_slider .enzow_slide figcaption {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 75%;
  color: white;
  z-index: 8;
}

.enzow_slider .enzow_slide figcaption h2 {
  position: relative;
  top: 50px;
  color: white;
  font-size: 36px;
}

.enzow_slider .enzow_slide figcaption p {
  position: relative;
  top: 100px;
}

.enzow_slider .enzow_slide figcaption button,
.enzow_slider .enzow_slide figcaption a.button {
  position: absolute;
  top: auto;
  right: 20px;
  bottom: 20px;
  background: white;
  border: 0px;
  padding: 10px 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.enzow_slider.contain .enzow_slide img {
  min-height: 100%;
  min-width: 100%;
}

.enzow_slider.cover .enzow_slide img {
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.enzow_slider .enzow_slider_navigation {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.enzow_slider .enzow_slider_navigation .enzow_previous,
.enzow_slider .enzow_slider_navigation .enzow_next {
  position: relative;
  width: 36px;
  height: 36px;
  display: block;
  float: left;
  margin-right: 10px;
  background: white;
  z-index: 9;
  border: 0;
  color: black;
  font-size: 18px;
  font-weight: bold;
  outline: 0;
  overflow: hidden;
  text-indent: 0;
  cursor: pointer;
}

.enzow_slider .enzow_slider_navigation .enzow_previous:hover,
.enzow_slider .enzow_slider_navigation .enzow_next:hover {
  background: #E1E1E1;
}

.enzow_slider .enzow_slider_navigation .enzow_previous:hover {
  -webkit-animation-name: textToLeft;
          animation-name: textToLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.enzow_slider .enzow_slider_navigation .enzow_next:hover {
  -webkit-animation-name: textToRight;
          animation-name: textToRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes textToLeft {
  0% {
    text-indent: 0;
  }

  49% {
    text-indent: -40px;
  }

  50% {
    text-indent: 90px;
  }

  100% {
    text-indent: 0;
  }
}

@keyframes textToLeft {
  0% {
    text-indent: 0;
  }

  49% {
    text-indent: -40px;
  }

  50% {
    text-indent: 90px;
  }

  100% {
    text-indent: 0;
  }
}

@-webkit-keyframes textToRight {
  0% {
    text-indent: 0;
  }

  49% {
    text-indent: 40px;
  }

  50% {
    text-indent: -90px;
  }

  100% {
    text-indent: 0;
  }
}

@keyframes textToRight {
  0% {
    text-indent: 0;
  }

  49% {
    text-indent: 40px;
  }

  50% {
    text-indent: -90px;
  }

  100% {
    text-indent: 0;
  }
}

@media screen and (max-width: 320px) {
  header {
    height: auto;
    position: relative;
    padding-bottom: 10px;
    float: left;
  }

  header h1 {
    padding: 20px 0px 10px 10px;
    height: 50px;
    width: auto;
    line-height: 24px;
    text-align: center;
    float: left;
  }
}

.publisher-show {
  padding: 0 0 50px 0;
}

.publisher-show h1 {
  margin: 10px 0 10px 0;
  font-size: 50px;
}

.publisher-show .col-md-3 ul {
  padding: 0 0 0 25px;
}

.publisher-show .col-md-3 ul.publisher-meta {
  padding: 0;
  list-style-type: none;
}

.publisher-show .col-md-3 ul.publisher-meta li {
  display: inline-block;
  padding-right: 50px;
}

.publisher-show .col-md-3 ul.publisher-meta li i {
  width: 25px;
  color: #3097D1;
  display: inline-block;
}

.publisher-show .col-md-3 ul.publisher-meta li a {
  color: #333333;
}

.publisher-show .col-md-3 ul.publisher-meta li .stand-box {
  position: relative;
  margin-left: 25px;
  display: block;
}

.publisher-show .col-md-3 ul.publisher-meta li .stand-box span {
  position: relative;
  height: 13px;
  display: inline-block;
  margin: 2px;
  padding: 3px 5px;
  font-size: 12px;
  line-height: 12px;
  background-color: #3097D1;
  color: white;
  border-radius: 13px;
}

.publisher-show .col-md-3 .horizontal-line {
  position: relative;
  height: 1px;
  margin: 20px 0 20px 0;
  background-color: #CCCCCC;
}

