*{
    top: 							0px;
    margin: 						0px;
    padding: 						0px;
}

body{
    position: 						absolute;
    min-height: 					100%;
    width: 							100%;
}

header{
    position: 						fixed;
    width: 							100%;
    height: 						60px;
    background: 					rgb(250,250,250);
    font-family: 					'Exo 2', sans-serif;
    z-index: 						99999;
}

header strong{
    position: 						relative;
    padding-left: 					40px;
    font-size: 						30px;
    font-weight: 					400;
    height: 						50px;
    line-height: 					50px;
    width:  						600px;
}

header strong a{
    color: 							rgb(90,90,90);
    text-decoration: 				none;
}

/* Navigation */
nav{
    position: 						absolute;
    width: 							400px;
    top: 							5px;
    right: 							20px;
}

nav ul{
    position:relative;
    list-style-type: 				none;
    color: 							rgb(127,127,127);
    font-size: 						12px;
    float: 							right;
    margin-right: 					10px;
    margin-top: 					0px;
}

nav ul li{
    float: 							left;
}

/* Social icons */
.social-icons{
    position: 						absolute;
    top: 							22px;
    right: 							10px;
}

.social-icons a{
    position: 						relative;
    color: 							white;
    width: 							23px;
    position: 						relative;
    display: 						block;
    float: 							left;
    text-align: 					center;
    padding-top: 					4px;
    height: 						19px;
    transition: 					all 0.4s ease;
    -webkit-transition: 			all 0.4s ease;
    -moz-transition: 				all 0.4s ease;
    background: 					rgb(180,180,180);
    border-radius: 					20px;
    -webkit-border-radius: 			20px;
    margin-left: 					6px;
    line-height: 					15px;
}

.social-icons a:hover{
    background: 					rgb(40,160,230);
}

/* First Section - home-slider*/
main{
    margin-top: 					65px;
}
section#home_slider{
    position: 						relative;
    width: 							100%;
    height: 						500px;
    outline: 						3px solid rgb(230,230,230);
    border-top: 					2px solid white;
    border-bottom: 					2px solid white;
    box-shadow: 					0px 10px 20px rgb(220,220,220);
}

section#home_slider img{
    max-width: 						100%;
    height: 						500px;
}

.slider_new{
    width: 							1800px;
    width: 							100% !important;
    height: 						500px;
}


svg,
#circle01{
    position: 						absolute;
    width: 							500px;
    height: 						500px;
    margin-top: 					0px;
    border-radius: 					500px;
    left: 							calc(50% - 250px);
    opacity: 						0.8;
    z-index: 						99998;
}


section#page_slider {
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
    outline: 3px solid rgb(225,225,225);
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 10px 20px rgb(255, 255, 255);
    overflow: hidden;
}

.page_image {
    position: absolute;
    width: 1800px;
    width: 100% !important;
    background-position: center;
    background-size: cover !important;
    height: 270px !important;
}

.collumns-3{
    column-count: 					3;
    -moz-column-count: 				3; /* Firefox */
    -webkit-column-count: 			3; /* Safari and Chrome */
    -webkit-column-gap: 			30px; /* Safari and Chrome */
    -moz-column-gap: 				30px; /* Firefox */
    text-align: 					justify;
    margin: 						0px 10px;
    font-family: 					'Open Sans', sans-serif;
    font-weight: 					300;
}

.content-text{
    padding: 						20px 0px 50px 0px;
    font-family: 					'Open Sans', sans-serif;
    font-weight: 					300;
}

.content-text ul {
	padding-left: 20px;
}

.black-content{
    border-top: 					4px solid rgb(48,157,216);
    border-bottom: 					4px solid rgb(48,157,216);
    padding: 						20px 0px 50px 0px;
    color: 							white;
    background-color: 				rgb(70,170,230);
}

.black-content a{
    color: 							white;
    text-decoration: 				none;
    font-size: 						12px;
}

.collumns-of-1{
	display: 						inline-block;
    margin: 						0px 1.6%;
    text-align: 					justify;
    font-family: 					'Open Sans', sans-serif;
    font-weight: 					300;
}

.collumns-of-3{
    float: 							left;
    width: 							30%;
    margin: 						0px 1.6%;
    text-align: 					justify;
    font-family: 					'Open Sans', sans-serif;
    font-weight: 					300;
}

.ali-left,
.collumns-of-3 .ali-left{
    text-align: 					left;
}

.ali-center,
.collumns-of-3 .ali-center{
    text-align: 					center;
}

.ali-right,
.collumns-of-3 .ali-right{
    text-align: 					right;
}
.blue320 img{
    position: 						relative;
    margin: 						10px auto 10px auto;
    max-width: 						245px;
    max-height: 					245px;
    display: 						block;
    top: 							37px;
}

.content-text strong {
	color: 							rgba(48,157,216,0.8);
}

.lineupcontent strong{
	color: 							rgba(100,180,120,0.9);
}

.lineupTitleCompany{
	color: 							rgba(100,180,120,0.7);
	font-weight: 					500;
	text-decoration: 				none;
}

.lineupTitleCompany:hover{
	text-decoration: 				underline;
}

.blue320{
    display:block;
    margin: 						10px auto 10px auto;
    position:relative;
    width:320px;
    height:320px;
    background:url('../../gfx/320.png');
}

.col-round img{
    border-radius: 					500px;
}

.collumns-of-3 h3{
    text-align: 					center;
    font-size: 						20px;
}


.collumns-of-3 h4{
    text-align: 					left;
    font-size: 						20px;
}


.container{
    position: 						relative;
    width: 							1024px;
    margin: 						0px auto;
}

.home-container h1,
.container h3{
   margin-left: 					15px; /* was 10 px */
    font-size: 						24px;
    margin-bottom: 					4px;
    font-family: 					'Open Sans', sans-serif;
    font-weight: 					400;
}

footer{
    top: 							auto;
    bottom: 						0px;
    position: 						absolute;
    width: 							100%;
    height: 						25px;
    background: 					rgb(220,220,220);
    font-family: 					'Exo 2', sans-serif;
    font-size: 						12px;
    color: 							rgb(150,150,150);
    text-align: 					center;
    line-height: 					25px;
}

/* Breadcrumbs */
.breadcrumbs{
	padding:5px 0 15px 0;
}

.breadcrumbs a{
	color:black;
	text-decoration:none;
	padding-bottom:1px;
	border-bottom:1px solid transparent;
}

.breadcrumbs a:last-of-type{
	color:#3989dc;
}

.breadcrumbs a:last-of-type:hover{
	border-bottom:1px solid #3989dc;
}
	
.breadcrumbs a:hover{
	border-bottom:1px solid black;
}
		

/* Scrollbar */
/* Let's get this party started */
::-webkit-scrollbar{
	height: 						8px;
    width: 							8px;
    background-color: 				rgba(0,0,0,0.03);
    -webkit-transition: 			all 1s ease;
	-moz-transition: 				all 1s ease;
	transition: 					all 1s ease;
}
 
::-webkit-scrollbar:hover{
	background-color: 				rgba(0,0,0,0.2);
}

/* Track box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
::-webkit-scrollbar-track {
    border-radius: 					10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 			10px;
    border-radius: 					10px;
    background: 					rgba(48,157,216,0.7);
    box-shadow: 			inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: 					rgba(48,157,216,0.3); 
}

.clear{
    clear: 							both;
}




/* CSS animations */
@keyframes rotatingClockwise{
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotatingClockwise {
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@keyframes rotatingCounterclockwise {
    from{
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

@-webkit-keyframes rotatingCounterclockwise {
    from{
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

.rotating-1 {
    animation: rotatingClockwise 2s linear infinite;
    -webkit-animation: rotatingClockwise 2s linear infinite;
    -moz-animation: rotatingClockwise 2s linear infinite;
}

.rotating-2 {
    animation: rotatingCounterclockwise 3s linear infinite;
    -webkit-animation: rotatingCounterclockwise 3s linear infinite;
    -moz-animation: rotatingCounterclockwise 3s linear infinite;
}

.rotating-3 {
    animation: rotatingClockwise 6s linear infinite;
    -webkit-animation: rotatingClockwise 6s linear infinite;
    -moz-animation: rotatingClockwise 6s linear infinite;
}


.rotating-1,
.rotating-2,
.rotating-3{
    transform-origin: 				250px 250px;
    -webkit-transform-origin: 		50% 50%;
}


/* Slider in CSS*/
.sliderimg{
    position: 						absolute;
    width: 							1800px;
    width: 							100% !important;
    background-position: 			center;
    background-size: 				cover;
    height: 						500px;
}

@-webkit-keyframes sliderimage00 {
    0%  {opacity: 0;z-index:0;}
    3%  {opacity: 1;z-index:3000;}
    33% {opacity: 1;z-index:3000;}
    36% {opacity: 0;z-index:0;}
    100%{opacity: 0;z-index:0;}
}

@-webkit-keyframes sliderimage01 {
    0%  {opacity: 0;z-index:0;}
    33% {opacity: 0;z-index:0;}
    36% {opacity: 1;z-index:3000;}
    67% {opacity: 1;z-index:3000;}
    70% {opacity: 0;z-index:0;}
    100%{opacity: 0;z-index:0;}
}

@-webkit-keyframes sliderimage02 {
    0%  {opacity: 1;z-index:3000;}
    3%  {opacity: 0;z-index:0;}
    67% {opacity: 0;z-index:0;}
    70% {opacity: 1;z-index:3000;}
    100%{opacity: 1;z-index:3000;}
}

@keyframes sliderimage00 {
    0%  {opacity: 0;z-index:0;}
    3%  {opacity: 1;z-index:3000;}
    33% {opacity: 1;z-index:3000;}
    36% {opacity: 0;z-index:0;}
    100%{opacity: 0;z-index:0;}
}

@keyframes sliderimage01 {
    0%  {opacity: 0;z-index:0;}
    33% {opacity: 0;z-index:0;}
    36% {opacity: 1;z-index:3000;}
    67% {opacity: 1;z-index:3000;}
    70% {opacity: 0;z-index:0;}
    100%{opacity: 0;z-index:0;}
}

@keyframes sliderimage02 {
    0%  {opacity: 1;z-index:3000;}
    3%  {opacity: 0;z-index:0;}
    67% {opacity: 0;z-index:0;}
    70% {opacity: 1;z-index:3000;}
    100%{opacity: 1;z-index:3000;}
}

.sliderimage00 {
    animation: sliderimage00 18s linear infinite;
    -webkit-animation: sliderimage00 18s linear infinite;
    -moz-animation: sliderimage00 18s linear infinite;
}

.sliderimage01 {
    animation: sliderimage01 18s linear infinite;
    -webkit-animation: sliderimage01 18s linear infinite;
    -moz-animation: sliderimage01 18s linear infinite;
}

.sliderimage02 {
    animation: sliderimage02 18s linear infinite;
    -webkit-animation: sliderimage02 18s linear infinite;
    -moz-animation: sliderimage02 18s linear infinite;
}

@media screen and (max-width:1024px){
    .container{
        width: 100%;
        padding: 0 10px;
    }

    .collumns-3{
        column-count: 					2;
        -moz-column-count: 				2; /* Firefox */
        -webkit-column-count: 			2; /* Safari and Chrome */
        -webkit-column-gap: 			30px; /* Safari and Chrome */
        -moz-column-gap: 				30px; /* Firefox */
    }
}

@media screen and (max-width:600px){
    .collumns-of-3{
        width:100%;
    }
}

@media screen and (max-width:320px){
    header{
        height: 						auto;
        position: 						relative;
        padding-bottom: 				10px;
        float: 							left;
    }

    header h1{
        padding: 						20px 0px 10px 10px;
        font-size: 						24px;
        height: 						50px;
        width: 							auto;
        line-height: 					24px;
        text-align: 					center;
        float: 							left;
    }

    nav{
        position: 						relative;
        width: 							100%;
        top: 							0px;
        right: 							0px;
        float: 							left;
    }

    nav ul{
        float: 							left;
        width: 							90%;
        margin: 						0px 5%;
        font-size: 						14px;
    }

    nav ul li{
        width: 							100%;
    }

    .social-icons{
        display: 						none;
    }

    main{
        margin-top: 					0px;
    }

    svg{
        display: 						none;
    }

    .collumns-3{
        column-count: 					1;
        -moz-column-count: 				1; /* Firefox */
        -webkit-column-count: 			1; /* Safari and Chrome */
        -webkit-column-gap: 			30px; /* Safari and Chrome */
        -moz-column-gap: 				30px; /* Firefox */
    }
}


::selection
{
    color:white;
    background:rgb(230,180,100);
}
::-moz-selection
{
    color:white;
    background:rgb(230,180,100);
}