.dataTables_length {
    display: none;
}

.paging_numbers a {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    background-color: #DDDDDD;
    color: white;
    text-align: center;
    margin: 8px 8px 0 0;
    text-decoration: none;
}

.paging_numbers a.current {
    background-color: #BBBBBB;
}

.paging_numbers a:hover {
    background-color: #BBBBBB;
    text-decoration: none;
    cursor: pointer;
}

#example_filter input[type="search"] {
    height: 30px;
    width: 100%;
    margin: 5px 0 10px;
}

#example thead{
    text-align: left;
    background-color: #EEEEEE;
}

#example thead th,
#example tr td {
    padding: 6px 0;
    vertical-align: top;
    border-bottom: 1px solid #CCCCCC;
}

#example thead th {
    border-top: 1px solid #CCCCCC;
}

#example tr td span.tags {
    font-style: italic;
    font-size: 12px;
}

#example tr td span.status {
    color: #888888;
}

#example tr th input[type="checkbox"],
#example tr td input[type="checkbox"] {
    margin: 0;
}

#example tr td:last-of-type,
#example tr th:last-of-type {
    width: 80px;
    padding-right: 10px;
}

.game-attributes-tab a {
    position: relative;
}

.display-on-click {
    position: absolute;
    top: calc(100% + 5px);
    left: -5px;
    width: 150px;
    display: none;
    padding: 5px 10px;
    background: $primary-color;
    border-radius: 4px;
    color: white;
    z-index: 10;

    &:before {
        content: "";
        position: absolute;
        top: -5px;
        display: block;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $primary-color;
    }
}