#admin-panel {
    header {

        height: 62px;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to bottom right, rgba(56, 142, 60, 0.7), rgba(0, 121, 107, 0.7), rgba(0, 151, 167, 0.7), rgba(2, 136, 209, 0.7));
        }
    }
}

.backend-main {

    padding-top: 50px;

    h1 {
        margin: 10px 0 10px 0;
        font-size: 50px;

        a {
            margin-left: 10px;
            font-size: 35px;
        }
    }
}

.article-attributes,
.game-attributes {
    a, span.a {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        background-color: #CCC;

        i {
            font-size: 12px;
            padding: 0;
            margin: 0;
            line-height: 19px;
            text-align: center;
            display: block;
            color: #333;
        }

        &.filled-attribute {
            background-color: $primary-color;

            i {
                color: white;
            }
        }
    }

    a.filled-attribute,
    span.a.filled-attribute {

        background-color: $primary-color;

        i {
            color: white;
        }
    }
}

.not-on-mobile {
    display: none;
}

.show-on-mobile {
    display: inline;
}

#example tr td:first-child,
#example thead th:first-child {
    padding: 6px 3px;
}

/* Style tab links */
.tablink-box {
    border-bottom: 1px solid $primary-color;
    margin: 0 15px 20px;
    padding: 0;
}

.tablink {
    margin: 0 0 -1px;
    padding: 10px 15px;
    color: $primary-color;
    float: left;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid white;
    border-bottom: 1px solid $primary-color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
}

.tablink:hover {
    border: 1px solid $primary-color-light;
    border-bottom: 1px solid $primary-color;
    text-decoration: none;
}

.tablink.tab-active {
    position: relative;
    color: #666666;
    border: 1px solid $primary-color;
    border-bottom: 1px solid white;
    z-index: 1;
}

/* Style the tab content (and add height:100% for full page content) */
.table-plain-box {
    position: relative;
    width: 100%;
    height: 450px;
    display: inline-block;
    overflow-y: scroll;

    table {
        width: 100%;

        tr td:first-of-type {
            width: 10px;
        }
    }
}

.tabcontent {
    display: none;
    padding: 100px 0;
    height: 100%;
}

#tab-games input {
    width: 50px;
}

#tab-games .select2-container {
    min-width: 100px;
}

@media screen and (min-width:768px) {
    .not-on-mobile {
        display: table-cell;
    }

    .show-on-mobile {
        display: none;
    }

    #example tr td:last-child,
    #example thead th:last-child {
        width: auto;
    }
}