.backend-main {

    padding-top: 50px;

    h1 {
        margin: 10px 0 10px 0;
        font-size: 50px;

        a {
            margin-left: 10px;
            font-size: 35px;
        }
    }
}

.article-attributes,
.game-attributes {
    a {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        background-color: #CCC;

        i {
            font-size: 12px;
            padding: 0;
            margin: 0;
            line-height: 19px;
            text-align: center;
            display: block;
            color: #333;
        }

        &.filled-attribute {
            background-color: $primary-color;

            i {
                color: white;
            }
        }
    }
}

.not-on-mobile {
    display: none;
}

.show-on-mobile {
    display: inline;
}

#example tr td:first-child,
#example thead th:first-child {
    padding: 6px 3px;
}

@media screen and (min-width:768px) {
    .not-on-mobile {
        display: table-cell;
    }

    .show-on-mobile {
        display: none;
    }

    #example tr td:last-child,
    #example thead th:last-child {
        width: auto;
    }
}