ul.breadcrumbs {
    display: block;
    padding: 0 0 15px 0;
    font-size: 14px;
    list-style-type: none;

    li {
        display: inline;

        a {
            color: #555;
            text-decoration: none;
            padding-bottom: 1px;
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid black;
            }
        }
    }

    li:last-child a {
        color: $primary-color;

        &:hover {
            border-bottom: 1px solid $primary-color;
        }
    }

    li:not(:last-child):after {
        content: " > ";
        padding: 0 3px;
        font-size: 10px;
    }
}

//@media screen and (min-width: 992px) {
//    ul.breadcrumbs {
//
//        padding: 5px 0 15px 0;
//
//        li {
//
//            a {
//                color: black;
//            }
//        }
//    }
//}