.exhibition-show,
.exhibition-upcoming {

    form.exhibition-show-delete {
        display: inline-block;

        button {
            background-color: transparent;
            border: 0;
            outline: 0;
            font-size: 16px;
            font-weight: normal;
            cursor: pointer;
        }
    }
}
