.footer-alert {
    position: relative;
    width: auto;
    padding: 20px 0;
    background-color: $primary-color;
    color: white;

    a {
        color: white;
        text-decoration: underline;
    }
}

footer{
    position: absolute;
    width: 100%;
    background-color: #333333;
    color: white;

    .col-md-4 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h3 {
        padding-bottom: 10px;
    }

    ul {
        list-style-type: none;
    }

    a {
        color: white;
        text-decoration: underline;
    }

    strong {
        width: 48%;
        display: inline-block;
    }

    span {
        width: 48%;
        display: inline-block;
        text-align: right;
    }

    .social-footer {

        margin: 15px 13px 0 0;
        float: right;

        i {
            position: relative;
            width: 24px;
            height: 24px;
            display: inline-block;
            margin: 0 2px;
            line-height: 24px;
            text-align: center;
            border: 1px solid white;
        }
    }
}