.form-group {

    label {
        position: relative;
        display: inline-block;
        margin: 0 0 5px 0;
    }

    input[type='text'],
    input[type='date'],
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='datetime-local'] {
        position: relative;
        width: calc(100% - 20px);
        display: inline-block;
        margin: 0 0 20px 0;
        padding: 10px 0 10px 20px;
        border: 1px solid #CCCCCC;
        outline: 0;
        font-size: 16px;
    }

    select {
        position: relative;
        width: 100%;
        display: inline-block;
        margin: 0 0 20px 0;
        padding: 10px 0 10px 20px;
        border: 1px solid #CCCCCC;
        outline: 0;
        font-size: 16px;
    }

    input[type='checkbox'] {
        position: relative;
        display: inline-block;
        margin: 0 0 20px 0;
    }

    button[type='submit'] {
        position: relative;
        width: auto;
        display: inline-block;
        margin: 0 0 20px 0;
        padding: 10px 20px;
        background-color: $primary-color;
        color: white;
        font-size: 16px;
        border: 0;
        outline: 0;

        cursor: pointer;

        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover {
            background-color: $primary-color-dark;
        }

        &.button-full {
            width: 100%;
        }
    }

    textarea {
        position: relative;
        overflow: auto;
        min-height: 150px;
        width: calc(100% - 40px);
        display: inline-block;
        margin: 0 0 20px 0;
        padding: 10px 20px;
        border: 1px solid #CCCCCC;
        outline: 0;
        font-size: 12px;

    }
    #excerpt {
        min-height: 100px;
    }

    .note {
        font-style: italic;
        font-size: 12px;
        line-height: 1;
    }
}

.delete-row {
    display: inline;

    button {
        background-color: transparent;
        border: 0;
        outline: 0;
        color: #3097D1;
        display: inline-block;
        font: normal normal normal 16px FontAwesome;
    }
}

.select2-container {
    margin-bottom: 20px !important;
}

.mce-notification-warning {
    display: none;
}

.mce-tinymce {
    margin-bottom: 20px !important;
}