.game-upcoming {
    .game-item {
        strong {
            font-size: 24px;
        }
    }
}

.game-show,
.game-upcoming {

    form.game-show-delete {
        display: inline-block;

        button {
            background-color: transparent;
            border: 0;
            outline: 0;
            font-size: 16px;
            font-weight: normal;
            cursor: pointer;
        }
    }
}
