*{
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 100%;
    min-height: 100vh;
}

.horizontal-line {
    position: relative;
    height: 1px;
    margin: 20px 0 20px 0;
    background-color: #CCCCCC;
}

.align-center {
    text-align: center;
}

.align-center-center {
    vertical-align: middle !important;
    text-align: center;
}

.align-right {
    text-align: right;
}

.button {
        position: relative;
        border: 0;
        padding: 10px 20px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;

    &.button-primary,
    &.primary-button{
        background-color: $primary-color;
        color: white;
    }

    &.button-primary-alt {
        border: 4px solid $primary-color;
        color: $primary-color;
        background-color: transparent;
    }

    &.button-secundary {
        background-color: white;
        color: black;
    }
}