header{
    position: fixed;
    width: 100%;
    height: 60px;
    background: rgb(250,250,250);
    z-index: 99999;
    line-height: 60px;

    strong{
        position: relative;
        padding-left: 40px;

        a {
            font-size: 18px;
            color: rgb(90, 90, 90);
            text-decoration: none;
        }
    }
}