nav {
    position: absolute;
    top: 0;
    right: 0;

    #navOpenButton {
        margin: 0 25px;
    }

    #navCloseButton {
        position: absolute;
        top: 0;
        right: 0;
        padding: 25px;
        color: white;
        cursor: pointer;
    }

    ul {
        position: absolute;
        background: $primary-color;
        top: 0;
        right: -50vh;
        width: 50vh;
        list-style-type: none;
        height: 100vh;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 3;
        line-height: 1;
        overflow-y: auto;
        padding-bottom: 50px;

        li {
            width: 90%;
            height: auto;
            display: inline-block;
            padding: 8px 16px;

            &:first-of-type {
                margin-top: 60px;
            }

            &:hover ul {
                display: block;

                li ul {
                    display: none;
                }
            }

            a {
                color: white;
                height: auto;
                display: inline-block;
                line-height: 1;
            }

            ul {
                position: relative;
                top: auto;
                right: auto;
                width: auto;
                height: auto;
                min-height: auto;
                padding: 0;
                margin: 10px -10px 0 10px;
                background-color: transparent;
                overflow: initial;

                li {

                    &:first-of-type {
                        margin-top: 0;
                    }

                    a {
                        line-height: 1;
                    }
                }
            }
        }
    }
}
nav ul li.active a {
    background-color: white;
}

#navBackColor {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#search-form {
    position: relative;

    input[type="search"] {
        padding: 4px 8px;
        font-size: 14px;
        border: 0;
        float: left;

        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:focus {
            outline: 0;
        }
    }

    button {
        position: relative;
        outline: 0;
        padding: 5px 8px 4px;
        font-size: 16px;
        color: $primary-color;
        background-color: $header-background;
        border: 0;
        float: left;

        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;

        i.fa {
            display: inline-block;
            font-size: 12px;
        }

        &.active {
            background-color: $primary-color;
            border: 0;

            i.fa {
                display: inline-block;
                font-size: 12px;
                color: white;
            }
        }
    }

}

@media screen and (min-width: 768px) {

    nav{
        position: absolute;
        top: 0;
        right: 20px;
        height: auto;

        i.fa {
            display: none;
        }

        #navOpenButton {
            margin-right: 0;
        }

        ul {
            position: relative;
            top: auto;
            right: auto !important;
            width: auto;
            display: block;
            height: auto;
            background-color: transparent;
            list-style-type: none;
            float: right;
            margin-right: 10px;
            margin-top: 0;
            line-height: 60px;
            padding-top: 0;
            overflow: initial;

            li {
                position: relative;
                float: left;
                width: auto;
                padding: 0 10px;

                &:first-of-type {
                    margin-top: 0;
                }

                #search-form {
                    position: relative;
                    //display: none;
                    float: left;

                    input[type="search"] {
                        width: 24px;
                        height: 24px;
                        padding: 4px 8px;
                        font-size: 14px;
                        border: 1px solid #CCC;
                        border-radius: 13px;
                        float: none;

                        -moz-transition: all 0.3s ease;
                        transition: all 0.3s ease;

                        &:focus {
                            outline: 0;
                        }
                    }

                    button {
                        position: absolute;
                        top: calc(50% - 10px);
                        right: 0;
                        width: 25px;
                        height: 24px;
                        outline: 0;
                        margin: -2px 0 0 0;
                        padding: 0 0 3px 0;
                        font-size: 16px;
                        color: $primary-color;
                        background-color: $header-background;
                        border: 1px solid $header-background;
                        border-radius: 13px;
                        float: none;

                        -moz-transition: all 0.3s ease;
                        transition: all 0.3s ease;

                        i.fa {
                            display: inline-block;
                            font-size: 12px;
                        }

                        &.active {
                            background-color: $primary-color;
                            border: 1px solid $primary-color;

                            i.fa {
                                display: inline-block;
                                font-size: 12px;
                                color: white;
                            }
                        }
                    }

                }

                i.fa {
                    display: inline-block;
                    font-size: 16px;
                    color: $primary-color;
                }

                a {
                    color: $primary-color;
                    height: 60px;
                    display: inline-block;
                    line-height: 60px;
                }

                ul {
                    position: absolute;
                    top: calc(100% - 4px);
                    left: 0;
                    min-width: 100%;
                    background-color: $primary-color;
                    margin: 0;
                    color: white;
                    //box-shadow: 0 5px 20px #00000033;
                    box-shadow: 0 10px 10px #00000011;
                    display: none;
                    line-height: 40px;
                    white-space: nowrap;

                    li {
                        width: calc(100% - 20px);
                        line-height: 40px;

                        &:hover ul {
                            display: block;
                        }

                        a {
                            height: 40px;
                            line-height: 40px;
                            color: white;
                        }

                        ul {
                            top: 0;
                            left: 100%;
                        }
                    }
                }
            }
        }
    }

    #navBackColor {
        background-color: transparent !important;
    }
}
