.platform-show {

    padding-top: 50px;

    h1 {
        margin: 10px 0 10px 0;
        font-size: 50px;
    }

    // side
    .col-md-3 {
        ul {
            padding: 5px 0 0 25px;
        }

        ul.platform-meta {
            padding: 5px 0 0 025px;
            list-style-type: none;

            li {

                width: 100%;
                display: inline-block;
                padding-right: 50px;

                i {
                    width: 25px;
                    color: $primary-color;
                    display: inline-block;
                    margin-left: -25px;
                }

                a {
                    color: $font-color-primary;
                }

                span {
                    position: relative;
                    height: 13px;
                    display: inline-block;
                    margin: 2px;
                    padding: 3px 5px;

                    font-size: 12px;
                    line-height: 12px;
                    background-color: $primary-color;
                    color: white;
                    -webkit-border-radius: 13px;
                    -moz-border-radius: 13px;
                    border-radius: 13px;

                }
            }
        }
    }
}

