*{
    margin: 0;
    padding: 0;
}

body{
    position: absolute;
    min-height: 100%;
    width: 100%;
}

svg,
#circle01{
    position: 						absolute;
    width: 							500px;
    height: 						500px;
    margin-top: 					0px;
    border-radius: 					500px;
    left: 							calc(50% - 250px);
    opacity: 						0.8;
    z-index: 						99998;
}


section#page_slider {
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
    overflow: hidden;
}

.page_image {
    position: absolute;
    width: 1800px;
    width: 100% !important;
    background-position: center;
    background-size: cover !important;
    height: 320px !important;
}

.lineupTitleCompany:hover{
    text-decoration: 				underline;
}

footer{
    top: 							auto;
    bottom: 						0px;
    position: 						absolute;
    width: 							100%;
    height: 						25px;
    background: 					rgb(220,220,220);
    color: 							rgb(150,150,150);
    text-align: 					center;
    line-height: 					25px;
}

.clear{
    clear: 							both;
}

@media screen and (max-width:1024px){
    .container{
        width: calc(100% - 20px);
        padding: 0 10px;
    }

    .collumns-3{
        column-count: 					2;
        -moz-column-count: 				2; /* Firefox */
        -webkit-column-count: 			2; /* Safari and Chrome */
        -webkit-column-gap: 			30px; /* Safari and Chrome */
        -moz-column-gap: 				30px; /* Firefox */
    }
}

@media screen and (max-width:600px){
    .collumns-of-3{
        width:100%;
    }
}

@media screen and (max-width:320px){
    header{
        height: 						auto;
        position: 						relative;
        padding-bottom: 				10px;
        float: 							left;
    }

    header h1{
        padding: 						20px 0px 10px 10px;
        height: 						50px;
        width: 							auto;
        line-height: 					24px;
        text-align: 					center;
        float: 							left;
    }

    nav{
        position: 						relative;
        width: 							100%;
        top: 							0px;
        right: 							0px;
        float: 							left;
    }

    nav ul{
        float: 							left;
        width: 							90%;
        margin: 						0px 5%;
    }

    nav ul li{
        width: 							100%;
    }

    .social-icons{
        display: 						none;
    }

    main{
        margin-top: 					0px;
    }

    svg{
        display: 						none;
    }

    .collumns-3{
        column-count: 					1;
        -moz-column-count: 				1; /* Firefox */
        -webkit-column-count: 			1; /* Safari and Chrome */
        -webkit-column-gap: 			30px; /* Safari and Chrome */
        -moz-column-gap: 				30px; /* Firefox */
    }
}


::selection
{
    color:white;
    background:rgb(230,180,100);
}
::-moz-selection
{
    color:white;
    background:rgb(230,180,100);
}