// Fonts
@import url(https://fonts.googleapis.com/css?family=Exo+2:600&display=swap);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

body,
input,
textarea,
select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: $font-color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -1px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3,
h4 {
    font-size: 20px;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}