.container {
    position: relative;
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
    display: block;
    z-index: 1;
}

.row {
    margin: 0 -15px;

    &:after {
        visibility: hidden;
        display: table;
        content: " ";
        clear: both;
        height: 0;
    }
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12
{
    position: relative;
    width: calc(100% - 30px);
    min-height: 1px;
    margin: 0 auto;
    padding: 0 15px;
    display: block;
    float: left;
}

main {
    padding-bottom: 50px;
}

@media screen and (min-width:768px) {
    .col-md-3 {
        width: calc(25% - 30px);
    }

    .col-md-4 {
        width: calc(33.333% - 30px);
    }

    .col-md-6 {
        width: calc(50% - 30px);
    }

    .col-md-8 {
        width: calc(66.666% - 30px);
    }

    .col-md-9 {
        width: calc(75% - 30px);
    }

    .col-md-12 {
        width: calc(100% - 30px);
    }
}

@media screen and (min-width: 1024px) {
    div.container {
        width: 992px;
    }

    div.small-container {
        width: 800px;
        padding: 0;
    }
}